
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
		href="about.css">
	<title>About Us</title>
</head>

<body>
	<header>
		<nav>
			<ul class="nav-links">
				<li><a href="home.html">
				Home</a>
				</li>
				<li><a href="about.html">
				About</a>
				</li>
				<li><a href="team.html">
				Team</a>
				</li>
				
			</ul>
		</nav>
	</header>

	<section class="about">
		<h1>About Us</h1>
		<p style="font-weight: bold">
		Insectoscope is a AI insect Identification platform
		</p>
		<div class="about-info">
			<div class="about-img">
				<img src=
"logo.png" alt="Geeksforgeeks">
			</div>
			<div>
			<p>  Insectoscope is a visionary project concentrating on the subject of identifying insect species.
                 Our project addressed the need for reliable equipment for entomologists, researchers, 
                 or individuals interested in insects to cut the intensive labor and the user error that 
                 could occur when one wants to identify an insect. 

			</p>
				<button>Read More...</button>
			</div>
		</div>
	</section>

	

	<footer>
		<p>© 2024 Insectoscope. All Rights Reserved.</p>
	</footer>
</body>

</html>


