body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f3f3f3; /* Light Gray Background */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Make the body take full height of the viewport */
}

header {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 20px 0; /* Increased padding */
    position: fixed;
    top: 0; /* Position the header at the top */
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #40b736;
    border-radius: 4px;
    color: white;
}

.result-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff; /* White Background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box Shadow for Depth */
    border-radius: 10px; /* Rounded Corners */
    max-width: 600px; /* Limit maximum width */
    width: 100%; /* Ensure full width */
}
