/* Three columns side by side */
.column {
    display: inline-block; /* Display columns inline */
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  h1 {
    text-align: center; /* Center the text horizontally */
  }
  .card img {
    width: 200px !important; /* Set the width of the image */
    height:auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment */
    margin: 0 auto; /* Center the image horizontally */
  }
  
 

header {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: flex; /* Add flexbox display */
    justify-content: space-between; /* Add space between items */
    align-items: center; /* Center items vertically */
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px; /* Move navigation links to the right */
}
  
.nav-links li {
  margin-right: 20px;
}
  
.nav-links a {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #40b736;
  border-radius: 4px;
  color: white;
}
img {
    width: 50px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px; /* Adjust margin as needed */
}