<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team </title>
    <link rel="stylesheet" href="team.css">
</head>
<body>
    <h1>Team Profile</h1>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="img1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Miriam Boni</h2>
              <p class="title">Project Manager/Hardware Engineer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>bonima@mail.uc.edu </p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="img2.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Mayank Priyardarshi</h2>
              <p class="title">– Backend Specialist     </p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>priyadmm@mail.uc.edu </p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="img3.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>Eric Taylor</h2>
              <p class="title"> Security Head </p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>tayloe4@mail.uc.edu </p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      <div class="column">
        <div class="card">
          <img src="img4.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>Chelsea Owusu-Bonsu</h2>
            <p class="title">User Interface (UI) Designer </p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>owusubca@mail.uc.edu </p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

